body {
    background: url("../../200w.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#history {
    background-color: darkred;
    padding: 10px;
    color:white;
}

.scene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    background-color: aqua;
    padding: 10px;
}

#btn {
    width: 100px;
    background: rgba(255, 0, 0, 0.135);
    border: 2px solid red;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}